MONGODB_URI=mongodb+srv://Anastasia:Nm2004nm@cluster0.m9cucfm.mongodb.net/contacts_db
JWT_SECRET=nm2004nm2004
SECRET_KEY=nm2004nm2004
MONGODB_USER=your_username
MONGODB_PASSWORD=your_password
MONGODB_URL=your_cluster.mongodb.net
MONGODB_DB=contacts_db
MONGO_URL=mongodb+srv://Anastasia:Nm2004nm@cluster0.m9cucfm.mongodb.net/contacts_db


